.threadWidth {
  width: 80.5%;
  margin: 2em auto 0 auto;
}

.threadWidth h2 {
  text-align: center;
}

.threads {
  height: 15em;
  width: 100%;
  border: 1px solid gray;
  background-color: white;
  margin: 2em 0;
}
